body {
  margin: 0px;
  padding: 0px;
  font-family: Trebuchet MS, Helvetica, Arial;
  color: black; }

form {
  text-align: center; }
  form > button {
    font-size: 2.5em;
    border-radius: 10px;
    display: block; }

button {
  border: 1px solid #70A218;
  background-color: #E1FDB3;
  text-align: center;
  border-radius: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

input, select {
  border: 1px solid gray;
  color: darkgray;
  font-size: 2em;
  text-align: center;
  width: 40%;
  border-radius: 10px;
  background-color: transparent; }

input:hover {
  border: 1px solid green; }

article {
  border-top: 1px solid #2E2E2E; }

footer {
  color: white;
  border-top: 1px solid #2E2E2E;
  background-color: #575757;
  text-align: center; }

main {
  padding-top: 40px;
  height: 100%; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%l; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: lighter; }

h1 {
  color: darkgray;
  font-size: 5em;
  font-weight: bolder; }

h2 {
  color: #63CE11;
  font-size: 2em; }

h3 {
  color: black;
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: #63CE11; }

main .column {
  display: block;
  float: left;
  border-right: 1px solid gray; }

main .menuIcon {
  width: 70%;
  display: inline-block; }

.infoBox {
  margin: 5px;
  width: 200px;
  border-radius: 5px; }
