@import 'elements';
main{
  .column{
  display: block;
  float: left;
  border-right: $horizontal-secondary-line-border;
  }

  .menuIcon{
    width: 70%;
    display: inline-block;
  }
}

form{
  .skip{
    border: $horizontal-secondary-line-border;
    background-color: transparent;
  }
}
.infoBox{
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  color: $secondary-font-color;
  display: inline;
}
