/*CSS for frontpage tags
/*==========================*/

a{
	display:inline;
}
a:hover{
	text-decoration: none;
	color: inherit;
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:visited{
	text-decoration: none;
	color: inherit;
}

a:active{
	text-decoration: none;
	color: inherit;
}

a> article, div > article{
	display:none;
}

a> h1, div > h1{
	font-size:30px;
}

article{
	margin-top: 30px; 
	margin-left: 30px; 
	margin-right: 30px; 
	margin-bottom: 30px;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;

	text-align: center;

	/*height: 215px; */
	border-top-style:solid;
	border-color:black;
	border-width:1px;
	color:black;
}

/*h3>  p:first-child(){
	display:inline; 
	width: 20%; 
	float:left;
}*/

@font-face{
	font-family: DejaVuSans;
	src: url(Arimo-Regular.ttf);
}

.frontpageBox, .frontpageMessage{
	position: relative;
	font-family: 'DejaVuSans', 'Arial';
	font-size: 14px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
	vertical-align: middle;
	text-align: left;
	border-radius: 2px;
	border-color: black;
	box-shadow: 4px 0px 4px gray;
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.frontpageBox{
	background-color: white;
	min-height: 1000px;
	width: 500px;
}


div.column{
	width:14%;
	padding-left: 1%;
	padding-right: 1%;
	display:block;
	float:left;
	text-align:center;
	font-size: 24px;
	border-right-style: solid;
	border-color:gray;
	border-width: 1px;
	font-family:'Trebuchet MS';
	opacity: 0.5;
}

div.column > p{
	border: 1px solid rgba(142, 230, 2, 1);
	border-radius: 5px;
	color:rgba(142, 230, 10, 1);
	padding-top:5px;
	padding-bottom:5px;
	font-size:18px;
}

div.column:hover{
	opacity: 1.0;
}

div.column:hover > p, div.column:active > p{
	border: 1px dashed gray;
	background-color:rgba(142, 230, 2, 1);
	border-radius: 5px;
	color:white;
	
	padding-top:5px;
	padding-bottom:5px;
}

div.column:last-child{
	border-style:none;
}


.scrollDescription{
	/*border-bottom-style: dotted;
	border-radius: 5px;
	border-width: 2px;
	border-color: white;*/

	background-color: #EBEBEB;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	text-align: center;
	color: black;
	font-family:'Trebuchet MS';
	margin-bottom: 30px;

	margin-left:-5%;
	margin-right:-5%;
}

/*.scrollDescription > b{

	color: #7DFA34 ;
}*/

img.icons{
	display:inline-block;
	/*opacity: 0.7;*/
	width:70%;
}

figure{
	margin: 5px;
}

figure > img{
	width: 150px;
}

/*img.icons:hover{
	/*-webkit-animation:imageRotate 1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction:normal;
	-webkit-animation-timing-function: linear;

	animation:imageRotate 1.5s;
	animation-iteration-count: 1;
	animation-direction:normmal;
	animation-timing-function: linear;
	opacity: 1.0;
}*/

/*img.hoverDescription{
	margin-top:20px;
	margin-left:12.5%;
	margin-right:12.5%;
	width:65%;
	opacity:1.0;
}

@keyframes imageRotate{
	from{-mozkit-transform:rotate(0deg);}
	to{-mozkit-transform:rotate(360deg);}
}

@-webkit-keyframes imageRotate{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}
*/

#icons{
	min-width: 768px;
}

#icons > div {
	display:inline;
}

#banner{
	background-color:black; 
	display: block; 
	margin-left: -5.5%; 
	margin-right: -5.5%; 
	padding-left:17.5%; 
	padding-right:17.5%; 
	position: static 
}

section >div {
	float:left;
	width:25%;
}

section > div >a{
	display:block;
}

section{
	display:inline-block;
}

.infoBox{

	border:1px solid gray;
	border-radius: 5px;
	margin: 5px;
	width: 200px;
}

a> h1, div > h1{
	color: rgba(142, 230, 2, 1);
}

p >b{
	color:#5C9403;
}

article > div{
	padding-top: 15px;
	padding-bottom: 15px;
	color:#3B3B3B;
}