/*article{
	font-family: 'DejaVuSans', 'Trebuchet MS', 'sans-serif';
	font-size: 14px;
	background-color: #36332E;
	color: white;
	margin-bottom: 20px;
	src: url(DejaVuSans.ttf);
	padding: 10px;
	line-height: 18px;
	/*background-color: #FFFF99;*/
}*/

